<div class="container-fluid">
<div class="jumbotron">
  <h1 class="display-3">Cric Master!</h1>
  <p class="lead">This site is for demonstration of Angular and Bootstrap.</p>
  <hr class="my-4">
  <p>Please visit demo tabs to get more insights of various parts of angular.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/demos" role="button">Demos </a>
  </p>

  
</div>
<button class="btn btn-primary btn-sm" (click)="goToTeams()">GO to Teams</button>
<button class="btn btn-primary btn-sm" (click)="goToDirectiveDemos()">GO to Directive Demos</button>
</div>