<h5 class="bg-primary text-white">
  Builtin Directives
</h5>
<div>
  <div class="text-primary  p-1">
    Built in Structural Directives
  </div>
  <div class="text-success p-1">
    <p class="card-text  p-1">
      <span class="text-muted">ngIf: content hiddden</span>
      <span *ngIf="!(playersList.length > 0)"></span> Actual length is : {{playersList.length}}
    </p>
  </div>
  <div class="text-success p-1">
    <p class="card-text  p-1 text-muted">
      ngSwitch: switch case
    </p>
    <ul *ngFor="let player of playersList" [ngSwitch]="player.team">
      <li *ngSwitchCase="'IN'" class="text-warning">
        {{player.name }} {{ player.team }}
      </li>
      <li *ngSwitchCase="'PK'" class="text-primary">
        {{player.name }} ({{ player.team }})
      </li>
      <li *ngSwitchDefault class="text-info">
        {{player.name }} ({{ player.team }})
      </li>
    </ul>
  </div>
</div>

<h5 class="bg-primary text-white">
  Built in Pipes
</h5>
<div class="text-primary  p-1">

</div>
<div class="p-1">
  <p>Lower case {{ 'AB-c-X' | lowercase }}</p>

  <p>Currency {{ 110.02 | currency | lowercase }}</p>

  <p>Price : {{ 113.89| currency:'USD':true:'1.2-2' }}</p>

</div>
<div class="p-1">
  <form #f="ngForm">
    <input type="text" name="stringToFilter" [(ngModel)]="stringPipeFromComponent" />

    <input type="text" name="filter1" [(ngModel)]="convertFilter"/>

    <button class="btn btn-primary btn-sm" (click)="convert()">Convert</button>
    
    <p>Piped value From Code : {{ convertedString }} </p>
  </form>
</div>